table,
th,
td {
  border: 2px solid black;
  border-spacing: 10px;
}

tr {
  height: 7rem;
}

/* APARTADO A */

#apartadoA {
  width: 40%;
  float: left;
  margin-left: 3rem;
}

#table1 {
  width: 100%;
  margin: 0%;
}

/* APARTADO B */

#apartadoB {
  width: 40%;
  float: right;
  margin-right: 3rem;
}

#table2 {
  width: 100%;
  margin: 0%;
}

#largeOrange {
  width: 100%;
}

#largeBlue {
  width: 75%;
}

#largeYellow {
  width: 50%;
}

#largeRed {
  width: 75%;
}

#smallYellow {
  width: 25%;
}

/* APARTADO C */

#apartadoC {
  justify-content: center;
  padding-top: 5rem;
  margin: auto;
  width: 40%;
  clear: both;
}

#table3 {
  width: 100%;
  margin: 0%;
  border-spacing: 0px;
  border: 0px solid black;
  font-size: 2rem;
}

#table3 td {
  border: 1px solid black;
}

#table3 tr {
  height: 3rem;
}

#table3 thead {
  font-weight: bold;
}

/* EJERCICIO 2 */

#wrapperA2 {
  float: left;
  width: 40%;
  margin-left: 5%;
}

#wrapperB2 {
  float: right;
  width: 40%;
  margin-right: 5%;
}

#wrapperC2 {
  margin: auto;
  width: 40%;
  clear: both;
  padding-top: 5rem;
}

#apartadoA2 {
  width: 100%;
  display: grid;
  grid-template-columns: 23% 23% 23% 23%;
  grid-template-rows: 6rem 6rem 6rem 6rem;
  font-size: 2rem;
  justify-content: center;
  row-gap: 7px;
  column-gap: 10px;
  border: 2px solid black;

}

#apartadoB2 {
  width: 100%;
  display: grid;
  grid-template-columns: 23% 23% 23% 23%;
  grid-template-rows: 6rem 6rem 6rem 6rem;
  font-size: 2rem;
  justify-content: center;
  row-gap: 7px;
  column-gap: 10px;
  border: 2px solid black;
  margin-right: 5%;
}

#apartadoA2 div, #apartadoB2 div {
  width: 100%;
  text-align: left;
  border: 2px solid black;
  display: flex;
  border-spacing: 2px;
}

.top {
  margin-top: 9px;
}

.bottom {
  margin-bottom: 9px;
}

.verylong {
  grid-column: span 4;
}

.long {
  grid-column: span 3;
}

.medium {
  grid-column: span 2;
}

#apartadoC2 {
  width: 40%;
  margin: auto;
  display: grid;
  grid-template-columns: 6.9rem 7.1rem 8.1rem 11.5rem 8rem 8.5rem;
  grid-template-rows: 3rem 3rem 3rem 3rem 3rem 3rem 3rem;
  font-size: 2rem;
  justify-content: center;
}

#apartadoC2 div {
  width: 100%;
  border: 1px solid black;
  display: flex;
  align-items: center;
}

.header {
  font-weight: bold;
  grid-row: 1;
}

.hours {
    grid-column: 1;
}

.three {
    grid-row: span 3;
}

.two {
    grid-row: span 2;
}

.recreo {
    grid-column: span 5;
    letter-spacing: 2rem;
    justify-content: center;
    text-align: center;
}

/* COLORES */

.orange {
  background: orange;
}

.yellow {
  background: yellow;
}

.blue {
  background: blue;
}

.red {
  background: red;
}

.salmon {
  background: rgb(234, 150, 122);
}

.olive {
  background: rgb(144, 238, 144);
}

.purple {
  background: rgb(153, 49, 204);
}

.lightblue {
  background: rgb(30, 144, 255);
}

.cream {
  background: rgb(240, 231, 140);
}
