p:has(+ ul) {
    font-weight: bold;
}

li:nth-child(1) {
    list-style: none;
    list-style-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAChElEQVRIS7XVWahNURjAcddMpHBRiELmlPuAQiFDkTFThhRSRPfBG3HlSUmZylQeDGVOZkKJQpkejJmTDFEoF5n+f6112/fY5zjXYdWvs88+a33f3mutb52iav+nNSdsC9wo+kfxGxFnEIZgKNqGuCWFJKhOkMGYhZGojXc4jZiw+G8SOGYMytAdr7AdB3ARX3EE7dCpqgnGM2gJuuE2lmMfviSmui7Xb7AZpfkmqEHnRVgantBp2YHvicDx0nU4gWF+5pOgPh13YhRe4j76pgSOtzZyMQXFKP9Tgi502o/2WACnyDYgS4IG3H+OPZhpn1wJfPK7aAV3ySEcRWP0zpJgHvfXhd8v5UrgFtyL0eEh4oOs5PvckPRtRhK36T08Q8UUZnsDd8oyHMYI1MQ3dMZ1nMFEvE8kmc/1Glhw/v6rpSVwC17Bblg0W9EVt8KYGXy6kI8xHC56S9zEZbiLKlpmAr9bLG1CUKfqKY7DBbaIbK7BQbigJeHahbfwHuVKMJYfLZzp2BY6OufrcQ6TQ1B/moBdsKBmoxSrk8G9Tr6B19dQD25P5zw2n34LnqAXyuGW/ACLzYdyTX7kSmDlHYNFYmFlNg+2k5iDTXDrOk1OYUd8ShlT6Q0sjv5ojeTZkhznNvQtL2AV7sCt7EKntjhFHq+eimuxMFvnENiqbgYrfCqcrqwtJvD4dUA/nE/pbR248BvgwbcYK5B22FUaHhM4cBKaIm5FO9YJ9z1JO+BqCO5a5dVigof0dm7HoRb6wLeahiYhcBmfVvZvOyVXJhP4B/0Cp/ARA9EQn+G/lPv8bFUDx6Qm6AmPBtsD+GfhdvQ8cZ8X1OIU9SCKZf+6oGgpg38CSCmFXwK2TisAAAAASUVORK5CYII=);
}

li:nth-child(2) {
    list-style: none;
    list-style-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAl1JREFUSEu11T3MT3cUB/DPQ2tDQrGIAWnEW4vEYCNMiLbeIjFIxNpBtVhEDGiJxSiSLhWvDQNLpWYJIl4jLVOnkjbYkJJvc678n/u/j7/lOckd7r3nd77nfM8539+QUbahUY5vEMA4fI11WIzpldBfuIWL9bwaKdEPAazHT5g5oMrH+AG/dvl1AYzFj/iuDjzCz/gbJ5GAa7EcO/Bl+R3FbvzXC9QFEMcmeID2IRTsxUGcxpYKkvO7qtJ8OlLVvMdoA4SW8z0Z3MMKPMddfI7NOFs+k/Bb9ac5lp6lN/9bL0Aa+rA4T+arMR8BuVKZPcEcvMbkCr6o5fMn5lXVwwCSWcoP5wsxEb8XSJPQV7iEz3AVX1Twpsr7mI1NONeu4FRxG64PIxUdqMbF92mBva3gSaKhMP9ie3AIv2BrGyCZh+PtmIZt9R6/TNDUChiABR3B47cU14uFUDmMohcY35rlP7CzDvXS1Zv5J1hTC5llTN9eYsJIAJmWG8X1ZbzBlFY/GoBlONaxjJ0ADUXJIM1qrDd4wDN58Wloi197GfPeR1HT5G9xvKL3Br+DlfU9CeRfrGsZO5uc0TpT2WdCMucN77exCs/wMcu4sVnY9qI9wCzsx4aiIqqZ4P/U6KbxMyrzrmXMos2tZeyT629woYf/mxX83/oWDQqVH7OMfVLRxI1gRcCaxcl7o5DRoJQ/0jJG3qOo761LTcfUJn9fXhnJE7hWIpb7oWsZEzzAA+W6QY/uJPtoy4csnKfiaFSfDboyP0WAcmUuaV2Z6U9kOYGjrp02CGBA8oN/jzrAO2mfmRmBzhllAAAAAElFTkSuQmCC);
}

li:nth-child(3) {
    list-style: none;
    list-style-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAP1JREFUSEvt1jFKA0EYxfHfitiJ2FiKjbYeQLBKY6uFsRK9gTYGUyS5gHoFsRJtcoRAShvt7KwtJWVEGcjgZqOETNjKXRh2YeZ7/5m3y/s283Mt4RJH2ESWm5v18QsnuM2LPOAAXbzOqlhYf4EO2hGwgz7OcT2neCgPJxgDnOEKK/goA9BGa07f8/uaOEEFKL62yqKpH3Jl0X+2aBV7WJ9qwu8LQv0GDotpGrPoHWuJ4sWwG2s4EfCMU4T7ZwJoIjRjw4kT23hJEI4lfwJiw1nGoAzALnoIoJsyAEHzEfujpv+EYQKohjAauMdb/q9iEU3UsYWFBEAsCWF3jLtvjtpRGXbzj8cAAAAASUVORK5CYII=);
}

li:nth-child(4) {
    list-style: none;
    list-style-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAOxJREFUSEvt1TFOAzEUBNAXiRyDEokD5AChJ8oR6BA5BXAKIjquEEINPemJlDLHCBLIkrdIbFhjZbfCzRb+O+P588ce6HgNOsbXC8EL3nEX1YTvbaWy+wOcUVDwhTWeIugVzisJEpyGIIe3xTU+W8hO8IjTXF1DMMcsFjzgBm+4KFTyijESnIbgsHfBgxqCBKc3BblO1ChIcBoFH1jE3Wmcog0m2LX4MMQzzpDg/OZBob97ZT96kDP5qAS5oIUWXRbmYBlb9KegHdXk/6C1XhWdX3a5oNWMaTZoYcRWXT44NSct/qeXN7n4NDWF3y7MZXFGNNV3AAAAAElFTkSuQmCC);
}

li:nth-child(5) {
    list-style: none;
    list-style-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAVxJREFUSEvt1L9L1WEUx/HXNXETBBdRWsrZMGlpELRBaAsaRNG/IjCojEoJxP9AHPw9tLRb5iItBaUgNDQVuDQ1CCJoHDjKly/3e2/LXcQHnuX8ej/ncw5PTYtPrcX1XQOaKnx1JRrBPeouwTE+4hCPcTt1+ooPZc3KEnVgIxMb6XuGeSzjAJ0Z/B7jOLlILgNe40U6v+FPHcotxI3zEHfxCENpC/DzKsARejBXAJUZN7CNkHELExnwCrOIGr1VgGg9uhrFpwxaxB2sYbVUbDdBYQ7gDs7R1gzwIIMjLpIiOeR7mYnTmMJ3PElbPCqG3xDwG31YwEwmrmMSewk6rZj+WzxF1LhZ1cGz1D/8+9jEl8L6/cKPOoBuDKY95vCmCtCOlcLg/mIgVy+2Iwbc6LzLbi+7rPoqhnEfXfiJJfRjrNh+gRQP+VxYjEvX1f2Lmkj9/+5riZpq1XKJ/gFEzD4Z8uI+sgAAAABJRU5ErkJggg==);
}

p .resaltar {
    background-color: yellow;
    font-size: 110%;
}